#carousel-generic.carousel.slide(data-ride="carousel")
 ol.carousel-indicators
  li.active(data-target="#carousel-generic", data-slide-to="0")
  li(data-target="#carousel-generic", data-slide-to="1")
  li(data-target="#carousel-generic", data-slide-to="2")
 .carousel-inner(role="listbox")
  .item.active
   img(src="/assets/images/nurse.jpg")
   .carousel-caption Nurse 1
  .item
   img(src="/assets/images/nurse2.jpg")
   .carousel-caption Doctor
  .item
   img(src="/assets/images/botox.jpg")
   .carousel-caption Botox
 a.left.carousel-control(href="#carousel-generic", role="button", data-slide="prev")
  span.nav-chevrons__left
  span.sr-only Previous
 a.right.carousel-control(href="#carousel-generic", role="button", data-slide="next")
  span.nav-chevrons__right
  span.sr-only Next