.header-navbar
   .navbar-header
      a(href='/').navbar-brand Nu Yu
   .collapse.navbar-collapse
      ul.nav-links
         li
            a(href='/')
               span Home
         li
            a(href='/about')
               span About
         li
            a(href='/products')
               span Products
         li
            a(href='/gallery')
               span Gallery
         li
            a(href='/contact')
               span Contact Us

