extends layout

block content
   h1.about__header About our nurses
   .column__left
      .head__container
         .head__holder
            .head__circle
               img(src="/assets/images/kate.jpg", alt="kate")
      span #{pageData}
   .column__right
      .head__container
         .head__holder
            .head__circle
               img(src="/assets/images/kate.jpg", alt="kate")
      span #{pageData}
