extends layout
mixin circleHead(imageSrc, alt)
   .head__container
      .head__holder
         .head__circle
            img(src="#{imageSrc}", alt=#{alt})

block content
   h1.about__header About our nurses
   .column__left
      +circleHead("/assets/images/kate.jpg", "Kate")
      span #{pageData}
   .column__right
      +circleHead("/assets/images/kate.jpg", "Kate")
      span #{pageData}
