extends layout

block content
    include partials/carousel
    .container
        hr
    .home-column__left
        span #{pageData}
    .home-column__middle
        span #{pageData}
    .home-column__right
        span #{pageData}
