extends layout

block content
    include partials/carousel
    .container
        hr
    .home-column__left
        h2.botox Botox
        div #{pageData}
        div.read-more
            a(href="/products") Read more...
    .home-column__middle
        h2.next-surgery Next Surgery
        span #{pageData}
    .home-column__right
        h2.find-us Find Us
        span #{pageData}
