//header
.header-navbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  height: 60px;
  background-color: white;

  .navbar-header,
  .navbar-collapse {
    padding-top: 5px
  }
  .nav-links {
    @extend .nav;
    @extend .navbar-nav;
    @extend .pull-right;
    font-family: sassy;
    font-size: 1.5em;
    vertical-align: middle;

    li {
      border-radius: 5px;
      opacity: 0.7;
      text-align: center;

      a {
        transition-duration: 0.25s;
        &:hover span{
          color: #FF0080;
        }

        &:after {
          content: "|";
          margin-left: 20px;
        }
      }

      &:last-child a:after {
        content: "";
      }
    }
  }
}