@import "vendor/bootstrap.scss";
@import "vendor/_variables";
@import "../public/font-awesome/scss/font-awesome";
@import "layout";
@import "index";
@import "about";
@import "products";
@import "contact";
@import "partials/carousel";
@import "partials/navbar";

@font-face {
  font-family: "sassy";
  src: url("../fonts/Sweet%20&%20sassy%20serif.ttf");
}

.generic-header {
  font-family: sassy;
  text-align: center;
}

.three-column-layout {
  @extend .col-md-4;
  @extend .col-xs-12;
}

.two-column-layout {
  @extend .col-md-6;
  @extend .col-xs-12;
}